= simple_form_for(@petition) do |f|
  = f.error_notification

  .form-inputs
    = f.input :category, collection: Petition::DATA_PETITIONS
    = f.input :title
    = f.input :message
    - if action_name == 'edit' || action_name == 'update'
      = f.input :status, collection: Petition.statuses.keys.to_a

  .form-actions
    = f.button :submit
