= simple_form_for(@church) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address
    = f.input :country
    = f.input :state
    = f.input :mission
    = f.input :vision
    = f.input :twitter_url
    = f.input :facebook_url
    = f.input :image_prev_url

  .form-actions
    = f.button :submit, class: 'btn-success'
