- model_name = Church
%section.container-fluid.container-fullw.bg-white
  .container
    .row
      .col-md-12
        %p
          %b= model_name.human_attribute_name(:name)
          = @church.name
        %p
          %b= model_name.human_attribute_name(:address)
          = @church.address
        %p
          %b= model_name.human_attribute_name(:country)
          = @church.country
        %p
          %b= model_name.human_attribute_name(:state)
          = @church.state
        %p
          %b= model_name.human_attribute_name(:mission)
          = @church.mission
        %p
          %b= model_name.human_attribute_name(:vision)
          = @church.vision
        %p
          %b= model_name.human_attribute_name(:twitter_url)
          = @church.twitter_url
        %p
          %b= model_name.human_attribute_name(:facebook_url)
          = @church.facebook_url
        %p
          %b= model_name.human_attribute_name(:logo)
          = image_tag(@church.logo_url(:thumbnail), :width => 50, :height => 50)

