%section.container-fluid.container-fullw.bg-white
  .container
    .row
      .col-md-12
        %p
          %b Name:
          = @church.name
        %p
          %b Address:
          = @church.address
        %p
          %b Country:
          = @church.country
        %p
          %b State:
          = @church.state
        %p
          %b Mission:
          = @church.mission
        %p
          %b Vision:
          = @church.vision
        %p
          %b Twitter:
          = @church.twitter_url
        %p
          %b Facebook:
          = @church.facebook_url

