= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :event_start_at
    = f.input :event_end_at
    = f.input :address
    = f.input :status, collection: Event.statuses.keys.to_a

  .form-actions
    = f.button :submit
