<div class="list-group">
  <%= link_to 'Miembros', members_path, class: 'list-group-item' %>
  <%= link_to 'Reuniones', meetings_path, class: 'list-group-item' %>
  <%= link_to 'Eventos', events_path, class: 'list-group-item' %>
  <%= link_to 'Sub Eventos', sub_events_path, class: 'list-group-item' %>
  <%= link_to 'Peticiones', petitions_path, class: 'list-group-item' %>
  <%= link_to 'Editar my Iglesia', edit_church_path(@church), class: 'list-group-item' %>
</div>

