<!DOCTYPE html>
<html>
<head>
  <title>Con Un Unico Propósito</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="app">
  <!-- Fixed navbar -->
  <%= render 'application/header' %>

  <div class="app-content">
    <div class="main-content">
      <%= render 'application/messages' %>
      <!-- Main component for a primary marketing message or call to action -->
      <%= yield %>
    </div>
  </div>
</div>
<script>
  jQuery(document).ready(function () {
    Main.init();
    Team.init();
  });
</script>
</body>
</html>
