%h1 Listing members

%table
  %thead
    %tr
      %th First name
      %th Middle name
      %th Last name
      %th Date of birth
      %th Cellphone
      %th Telephone
      %th Address
      %th Status
      %th Church
      %th
      %th
      %th

  %tbody
    - @members.each do |member|
      %tr
        %td= member.first_name
        %td= member.middle_name
        %td= member.last_name
        %td= member.date_of_birth
        %td= member.cellphone
        %td= member.telephone
        %td= member.address
        %td= member.status
        %td= member.church
        %td= link_to 'Show', member
        %td= link_to 'Edit', edit_member_path(member)
        %td= link_to 'Destroy', member, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Member', new_member_path
